<div class="container mt-5">
    <div class="text-center ">
      <h1>สมาชิกภายในกลุ่ม</h1>
      
    </div>
  
    <div class="row mt-5">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/teams/นายธนภูมิ รวดชัยภูมิ.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">นายธนภูมิ รวดชัยภูมิ</p>
            <p class="card-text">เลขที่ 1 ปวส.1/3</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/teams/นายชัยวัฒน์ สมเกตุ.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">นายชัยวัฒน์ สมเกตุ </p>
            <p class="card-text">เลขที่ 7 ปวส.1/3</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/teams/นายธนวัฒน์ เรือนงาม.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">นายธนวัฒน์ เรือนงาม</p>
            <p class="card-text">เลขที่ 6 ปวส.1/3</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/teams/นายชยุตม์ เรืองงาม.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">นายชยุตม์ เรืองงาม</p>
            <p class="card-text">เลขที่ 9 ปวส.1/3</p>
          </div>
        </div>
      </div>
    </div>
  
  </div>