<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/slide/iot1.jpg" class="d-block w-100" alt="..." height="600px">
    </div>
    <div class="carousel-item">
      <img src="assets/img/slide/iot2.png" class="d-block w-100" alt="..." height="600px">
    </div>
    <div class="carousel-item">
      <img src="assets/img/slide/iot3.jpg" class="d-block w-100" alt="..." height="600px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5">
  <div class="text-center ">
    <h1>อุปกรณ์ IoT ที่ใช้งาน</h1>
    <h2>ถุงมือการกายภาพบำบัดสำหรับการฟื้นฟูสมรรถภาพร่างกาย</h2>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/slide/esp_32.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">SP32 คือ wifi microcontroller ที่ถูกพัฒนาต่อจาก ESP8266 โดยเพิ่ม CPU เป็น 2 core, Wi-Fi
            ที่เร็วขึ้น, มีขา GPIO ให้ใช้งานมากขึ้น และรองรับ Bluetooth อีกด้วย นอกจากนี้ ESP32 ยังมาพร้อมกับ
            touch-sensitive pins ที่สามารถใช้ปลุก ESP32 จากโหมด deep sleep และยังมี hall effect sensor และ temperature
            sensor ในตัว</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/slide/dht_22.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">DHT22 หรือ AM2302 โมดูลวัดอุณหภูมิและความชื้นแม่นยำสูง</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/slide/heart rate sensor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">เซนเซอร์วัดอัตราการเต้นของหัวใจเป็นอุปกรณ์ตรวจสอบส่วนบุคคลที่ช่วยให้สามารถวัด /
            แสดงอัตราการเต้นของหัวใจแบบเรียลไทม์หรือบันทึกอัตราการเต้นของหัวใจสำหรับการศึกษาในภายหลัง</p>
        </div>
      </div>
    </div>
  </div>

</div>